<form method="post" action="{{ path('admin.articlescategories.delete', {'id': categorie.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer cette categorie?');" style="display: inline !important;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-lg btn-link" style="padding: 0px!important;"><i class="material-icons">delete</i></button>
</form>