{{ form_start(form) }}
{% include 'admin/articles/categories/_fields.html.twig' %}
<div class="text-left mt-3">
    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>&nbsp;
    <button type="reset" class="btn btn-default">Annuler</button>
</div>
{{ form_end(form) }}
