<ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
    <li class="nav-item active">
        <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left text-white">home</span>
        <a href="{{ path('home') }}" target="_blank" class="nav-link">Allez sur le site</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Formations</a>
        <div class="dropdown-menu">
            <a href="javascript:" class="dropdown-item">Browse Courses</a>
            <a href="javascript:" class="dropdown-item">Preview Course</a>
            <a href="javascript:" class="dropdown-item">Preview Lesson</a>
            <a href="javascript:" class="dropdown-item">
                <span class="mr-16pt">Take Course</span>
                <span class="badge badge-notifications badge-accent text-uppercase ml-auto">Pro</span>
            </a>
            <a href="javascript:" class="dropdown-item">Take Lesson</a>
            <a href="javascript:" class="dropdown-item">Take Quiz</a>
            <a href="javascript:" class="dropdown-item">Quiz Result</a>
            <a href="javascript:" class="dropdown-item">Student Dashboard</a>
            <a href="javascript:" class="dropdown-item">My Courses</a>
            <a href="javascript:" class="dropdown-item">My Quizzes</a>
            <a href="javascript:" class="dropdown-item">Help Center</a>
        </div>
    </li>
</ul>