<div class="form-group">
    <label class="form-label">{{ form_label(form.email) }}</label>
    {{ form_widget(form.email) }}
    <small class="form-text text-muted">{{ form_help(form.email) }}</small>
</div>