<form method="post" action="{{ path('admin.status.delete', {'id': status.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce status?');" style="display: inline !important;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
    <button class="btn btn-lg btn-link" style="padding: 0px!important;"><i class="material-icons">delete</i></button>
</form>