<form method="post" action="{{ path('admin.mediasdossiers.delete', {'id': mediasdossier.id, 'dossier_id': mediasdossier.dossiers.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer cette photo?');" style="display: inline !important;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mediasdossier.id) }}">
    <button class="btn btn-lg btn-link" style="padding: 0px!important;"><i class="material-icons">delete</i></button>
</form>


