<form method="post" action="{{ path('admin.products.delete', {'id': product.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ce produit?');" style="display: inline !important;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn text-white btn-xs btn-danger"><i class="icon feather icon-trash-2"></i></button>
</form>