<div class="form-group">
    <label class="form-label">{{ form_label(form.name) }}</label>
    {{ form_widget(form.name) }}
    <a href="javascript:void(0)" class="small">{{ form_help(form.name) }}</a>
</div>