<div class="page-separator">
    <div class="page-separator__text">Actualités récentes</div>
</div>
<p class="text-70 mb-24pt">People who started the most discussions on Luma.</p>

<div class="mb-4">
    {% for blog in blogs %}
        <div class="d-flex align-items-center mb-2">
            <a href="{{ path('blogs.show', {'id': blog.id, 'slug': blog.slug}) }}" class="avatar avatar-xs mr-8pt">
                {% include 'web/blogs/cards/__img_small.html.twig' %}
            </a>
            <a href="{{ path('blogs.show', {'id': blog.id, 'slug': blog.slug}) }}" class="flex mr-2 text-body">
                <strong>{{ blog.name|u.truncate(30, '...') }}</strong>
            </a>
            <span class="text-70 mr-2">{{ blog.commentaire.count }}</span>
            <i class="text-muted material-icons font-size-16pt">forum</i>
        </div>
    {% endfor %}

</div>