{% for message in app.flashes('success') %}
    <div class="alert alert-success border-1 border-left-4 border-left-success" role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="material-icons">access_time</i>
            </div>
            <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                    {{ message|raw }}
                </small>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger border-1 border-left-4 border-left-danger" role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="material-icons">access_time</i>
            </div>
            <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                    {{ message|raw }}
                </small>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% for message in app.flashes('info') %}
    <div class="alert alert-info border-1 border-left-4 border-left-info" role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="material-icons">access_time</i>
            </div>
            <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                    {{ message|raw }}
                </small>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning border-1 border-left-4 border-left-warning" role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="material-icons">access_time</i>
            </div>
            <div class="flex" style="min-width: 180px">
                <small class="text-black-100">
                    {{ message|raw }}
                </small>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
