{{ form_start(form) }}
{% include 'admin/dictionnaires/_fields.html.twig' %}
<div class="text-left mt-3">
    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> &nbsp;{{ button_label|default('Ajouter le lexique') }}</button>&nbsp;
    <button type="reset" class="btn btn-default">Annuler</button>
</div>
{{ form_end(form) }}
