<a {% for attr, value  in options | merge({class: 'small text-headings text-uppercase ml-2'}) %} {{ attr }}="{{ value }}"{% endfor %}>
    <span class="float-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                &nbsp;&nbsp;<i class="fa fa-sort-down"></i>
            {% else %}
                &nbsp;&nbsp;<i class="fa fa-sort-up"></i>
            {% endif %}
        {% else %}
            &nbsp;&nbsp;<i class="fa fa-sort"></i>
        {% endif %}
    </span>
{{ title }}
</a>
